<div id="sidebar">
  <div class="inner">

    <!-- Search -->
      <section id="search" class="alt">
        <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search" />
        </form>
      </section>

    <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="<%= root_path %>">Homepage</a></li>
          <li><a href="<%= notfound_path %>">Global Identity</a></li>
          <li><a href="<%= notfound_path %>">Plant Based</a></li>
          <li><a href="<%= notfound_path %>">Health</a></li>
          <li><a href="<%= notfound_path %>">Lifestyle</a></li>
          <li><a href="<%= intro_path %>">About Me</a></li>
        </ul>
      </nav>

    <!-- Section -->
      <section>
        <header class="major">
          <h2>Recent Stories</h2>
        </header>
        <div class="mini-posts">
          <article>
            <a href="<%= intro_path %>" class="image"><img src="images/intro/pose.jpg" alt="" /></a>
            <p>First post ever! I love the environment, food, and adventure, and am trying to change the world around me. Welcome to my blog, where I will be sharing my experiences and hoping to inspire you to make a difference too.</p>
          </article>
        </div>
      </section>

    <!-- Section -->
      <section>
        <header class="major">
          <h2>Get in touch</h2>
        </header>
        <ul class="contact">
          <li class="fa-envelope-o"><a href="#">laubroff@brandeis.edu</a></li>
          <li class="fa-home">Brandeis University<br />
          Waltham, MA</li>
        </ul>
      </section>

    <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; Laura Broffman (2018). All rights reserved. Design: Guillermo Narvaez.</p>
      </footer>

  </div>
</div>
