<div id="sidebar">
  <div class="inner">

    <!-- Search -->
      <!-- <section id="search" class="alt">
        <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search" />
        </form>
      </section> -->

    <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= environmentalism_path %>">Environmentalism</a></li>
          <li><a href="<%= plantbased_path %>">Plant Based Living</a></li>
          <li><a href="<%= health_path %>">Mental & Physical Health</a></li>
          <li><a href="<%= global_path %>">Global Identity</a></li>
          <li><a href="<%= all_path %>">Archive</a></li>
          <li><a href="<%= intro_path %>">About</a></li>
        </ul>
      </nav>

    <!-- Section -->
      <section>
        <header class="major">
          <h2>Recent Stories</h2>
        </header>
        <div class="mini-posts">
          <article>
						<a href="<%= what_to_do_about_climate_change_path %>" class="image"><%= image_tag "what_to_do_about_climate_change/climate_march_home.jpg" %></a>
						<h3>What to do About Climate Change</h3>
						<p>Suicide and mental illness can be uncomfortable to discuss. Knowing the facts, being able to talk about the subject, and feeling comfortable reaching out can all make a big difference when trying to help or get help. Through public awareness and education, we can reduce suicide rates across the country and save lives.</p>
					</article>

					<article>
						<a href="<%= eating_to_fight_climate_change_path %>" class="image"><%= image_tag "eating_to_fight_climate_change/vegan_salad_home.jpg" %></a>
						<h3>Eating to Fight Climate Change</h3>
						<p>After four years of moving from dorm to dorm, and a summer filled with travel, I officially moved to Boston! My traveling helped me to find a newfound appreciation for the ordinary parts of life, giving me a new perspective.</p>
					</article>

          <article>
            <a href="<%= suicide_prevention_path %>" class="image"><%= image_tag "suicide_prevention/home.jpg" %></a>
            <h3>Suicide Prevention Month</h3>
            <p>Suicide and mental illness can be uncomfortable to discuss. Knowing the facts, being able to talk about the subject, and feeling comfortable reaching out can all make a big difference when trying to help or get help. Through public awareness and education, we can reduce suicide rates across the country and save lives.</p>
          </article>

          <article>
            <a href="<%= new_home_path %>" class="image"><%= image_tag "new_home/me_home.jpg" %></a>
            <h3>Finding a New Home</h3>
            <p>First post ever! I love the environment, food, and adventure, and am trying to change the world around me. Welcome to my blog, where I will be sharing my experiences and hoping to inspire you to make a difference too.</p>
          </article>

          <article>
            <a href="<%= zero_waste_101_path %>" class="image"><%= image_tag "zero_waste_101/cover_home.jpg" %></a>
            <h3>Low-Impact Living</h3>
            <p>First post ever! I love the environment, food, and adventure, and am trying to change the world around me. Welcome to my blog, where I will be sharing my experiences and hoping to inspire you to make a difference too.</p>
          </article>

          <article>
            <a href="<%= california_path %>" class="image"><%= image_tag "california/antelope_home.jpg" %></a>
            <h3>California Roadtrip</h3>
            <p>First post ever! I love the environment, food, and adventure, and am trying to change the world around me. Welcome to my blog, where I will be sharing my experiences and hoping to inspire you to make a difference too.</p>
          </article>
        </div>
      </section>

    <!-- Section -->
      <section>
        <header class="major">
          <h2>Get in touch</h2>
        </header>
        <ul class="contact">
          <li class="fa-envelope-o"><a href="#">laubroffman@gmail.com</a></li>
          <li class="fa-home">Boston MA</li>
        </ul>
      </section>

    <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; Laura Broffman (2018). All rights reserved.</p>
      </footer>

  </div>
</div>
