<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Earth Conscious<br />
											by Laura Broffman</h1>
											<p>Environmentalism · Plant-Based · Lifestyle</p>
										</header>
										<p>My name is Laura Broffman. I am 21 years old, and am currently finishing up my last [ahh!] semester of undergrad at Brandeis University. I’m a double major in Environmental Studies and Sociology, and after graduation I’m hoping to get a job somewhere out there in the environmental field, fighting climate change and making a difference. I know, cheesy, but true.</p>
                    <p>I created this blog because as a passionate environmentalist and wannabe change-maker, I didn’t really feel like I was doing enough to make a difference around me. I was always just talking and thinking about possibilities, but doing nothing —I wanted to actually do something. I feel passionate about so many different things, and I wanted a way to share my beliefs and experiences with others. My hope is that what I share in this space can help inspire people to lead a more eco-friendly, mindful, and healthful lifestyle, while truly appreciating the world around them...</p>
										<ul class="actions">
											<li><a href="<%= intro_path %>" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<%= image_tag "home/earth_view.jpg" %>
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Explore Posts by Category</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-recycle"></span>
											<div class="content">
												<h3>Environmentalism</h3>
												<p></p>
											</div>
										</article>
										<article>
											<span class="icon fa-leaf"></span>
											<div class="content">
												<h3>Plant Based Living</h3>
												<p></p>
											</div>
										</article>
										<article>
											<span class="icon fa-heart"></span>
											<div class="content">
												<h3>Mental &amp; Physical Health</h3>
												<p></p>
											</div>
										</article>
										<article>
											<span class="icon fa-globe"></span>
											<div class="content">
												<h3>Global Identity</h3>
												<p></p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Latest Posts</h2>
									</header>
									<div class="posts">
										<article>
											<a href="<%= what_to_do_about_climate_change_path %>" class="image"><%= image_tag "what_to_do_about_climate_change/climate_march_home.jpeg" %></a>
											<h3>What to do About Climate Change</h3>
											<p>The IPCC’s groundbreaking report states that we underestimated just how much climate change will affect us in the next few decades. Instead of feeling scared and hopeless, be active and learn what you can do to really make a difference.</p>
											<ul class="actions">
												<li><a href="<%= what_to_do_about_climate_change_path %>" class="button">More</a></li>
											</ul>
										</article>

										<article>
											<a href="<%= eating_to_fight_climate_change_path %>" class="image"><%= image_tag "eating_to_fight_climate_change/vegan_salad_home.jpeg" %></a>
											<h3>Eating to Fight Climate Change</h3>
											<p>Feeling helpless about climate change? Learn about how a plant-based diet can drastically reduce your greenhouse gas emissions and other negative effects on the environment (while also being nicer to animals and your body)!</p>
											<ul class="actions">
												<li><a href="<%= eating_to_fight_climate_change_path %>" class="button">More</a></li>
											</ul>
										</article>
										
										<article>
											<a href="<%= suicide_prevention_path %>" class="image"><%= image_tag "suicide_prevention/home.jpg" %></a>
											<h3>Suicide Prevention Month</h3>
											<p>Suicide and mental illness can be uncomfortable to discuss. Knowing the facts, being able to talk about the subject, and feeling comfortable reaching out can all make a big difference when trying to help or get help. Through public awareness and education, we can reduce suicide rates across the country and save lives.</p>
											<ul class="actions">
												<li><a href="<%= suicide_prevention_path %>" class="button">More</a></li>
											</ul>
										</article>

										<article>
											<a href="<%= new_home_path %>" class="image"><%= image_tag "new_home/me_home.jpg" %></a>
											<h3>Finding a New Home</h3>
											<p>After four years of moving from dorm to dorm, and a summer filled with travel, I officially moved to Boston! My traveling helped me to find a newfound appreciation for the ordinary parts of life, giving me a new perspective.</p>
											<ul class="actions">
												<li><a href="<%= new_home_path %>" class="button">More</a></li>
											</ul>
										</article>

										<article>
											<a href="<%= zero_waste_101_path %>" class="image"><%= image_tag "zero_waste_101/cover_home.jpg" %></a>
											<h3>Zero Waste 101</h3>
											<p>Here are some easy and fun ways to eliminate plastic and waste in your life. These small tricks will help you reduce your impact on the environment, while also saving some money along the way!</p>
											<ul class="actions">
												<li><a href="<%= zero_waste_101_path %>" class="button">More</a></li>
											</ul>
										</article>

										<article>
											<a href="<%= california_path %>" class="image"><%= image_tag "california/antelope_home.jpg" %></a>
											<h3>California Roadtrip</h3>
											<p>13 places, 37 days, and 4,000 miles! After graduation, I packed my life into a storage unit, flew to California, and took a long road trip. Read about my travels and get a glimpse of the beautiful places I had the chance to visit.</p>
											<ul class="actions">
												<li><a href="<%= california_path %>" class="button">More</a></li>
											</ul>
										</article>

										<!-- <article>
											<a href="<%= intro_path %>" class="image"><%= image_tag "intro/pose.jpg" %></a>
											<h3>About</h3>
											<p>First post ever! I love the environment, food, and adventure, and am trying to change the world around me. Welcome to my blog, where I will be sharing my experiences and hoping to inspire you to make a difference too.</p>
											<ul class="actions">
												<li><a href="<%= intro_path %>" class="button">More</a></li>
											</ul>
										</article> -->

									</div>
								</section>


						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
