<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Earth Conscious<br />
											by Laura Broffman</h1>
											<p>Environmentalism · Plant-Based · Lifestyle</p>
										</header>
										<p>My name is Laura Broffman. I am 21 years old, and am currently finishing up my last [ahh!] semester of undergrad at Brandeis University. I’m a double major in Environmental Studies and Sociology, and after graduation I’m hoping to get a job somewhere out there in the environmental field, fighting climate change and making a difference. I know, cheesy, but true.</p>
                    <p>I created this blog because as a passionate environmentalist and wannabe change-maker, I didn’t really feel like I was doing enough to make a difference around me. I was always just talking and thinking about possibilities, but doing nothing —I wanted to actually do something. I feel passionate about so many different things, and I wanted a way to share my beliefs and experiences with others. My hope is that what I share in this space can help inspire people to lead a more eco-friendly, mindful, and healthful lifestyle, while truly appreciating the world around them...</p>
										<ul class="actions">
											<li><a href="<%= intro_path %>" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/nasa-earth-day-gallery-4.jpg" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>What We Are About</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-recycle"></span>
											<div class="content">
												<h3>Environmentalism</h3>
												<p></p>
											</div>
										</article>
										<article>
											<span class="icon fa-leaf"></span>
											<div class="content">
												<h3>Plant Based Living</h3>
												<p></p>
											</div>
										</article>
										<article>
											<span class="icon fa-heart"></span>
											<div class="content">
												<h3>Mental &amp; Physical Health</h3>
												<p></p>
											</div>
										</article>
										<article>
											<span class="icon fa-globe"></span>
											<div class="content">
												<h3>Global Identity</h3>
												<p></p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Latest Posts</h2>
									</header>
									<div class="posts">
										<article>
											<a href="<%= intro_path %>" class="image"><img src="images/intro/pose.jpg" alt="" /></a>
											<h3>About Me</h3>
											<p>First post ever! I love the environment, food, and adventure, and am trying to change the world around me. Welcome to my blog, where I will be sharing my experiences and hoping to inspire you to make a difference too.</p>
											<ul class="actions">
												<li><a href="<%= intro_path %>" class="button">More</a></li>
											</ul>
										</article>

									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
