<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Content -->
								<section>
									<span class="image main"><%= image_tag "california/road.jpg" %></span>

									<header class="main">
										<h1>California Road Trip</h1>
									</header>

									<h4><span class="image left"><%= image_tag "california/us.jpg" %></span>San Jose • San Francisco • Mendocino • Redwoods • Modoc • Sequoia • Los Angeles • Joshua Tree • Antelope Canyon • Grand Canyon • Orange County • San Diego • Big Sur</h4>

<p>All of senior year, the future was always in the back of my mind. I need to get a job. I need money. I want to be independent. I don’t want to live at home. I want to do something I love. It was (and still is) a little overwhelming to be honest. My boyfriend and I were in the midst of making big life plans, but one that kept coming back up in conversation was to do something FUN. We were graduating from college and felt the need to go on an exciting trip. After all, this was the first time we would not have the prospect of another semester or year of school looming at the end of our vacation. This was it; we would actually be free. Until we started working of course, and got life figured out. This was how we decided to go on a big road trip. It seemed like the perfect moment, right on the brink of a new stage of life. The west is filled with amazing nature just waiting to be experienced, and we couldn’t wait to explore. With some last minute planning, and pooling both our savings, we were able to plan this post-graduation, pre-real world vacation.</p>

<p>Though I’ve done a fair bit of traveling before (international as well), a lot of it was with either family or a large group. This trip was just the two of us, which made it really exciting and a great learning experience.</p>

<p>We traveled to 13 different places. We took 37 days and drove 4,000 miles.</p>

<p>Excluding a few nights on a friends couch, a few nights at a hostel, and a week at family friends, we camped. It was definitely a lot, but it was also quite the learning experience. Camping may not be many people’s idea of a vacation, but for me, it was a relaxing and fun break from the stressful world. I grew up with frequent family camping trips, but I had not gone in a long time or on my own before (excluding two short beach trips, which honestly didn’t really count). This was quite the test. We were thankfully, and unintentionally, eased into the camp life by beginning at one of the nicest sites, and ending with some of the most rustic. We started in cool northern California. We started off with showers and toilets the first few nights, and by the end of the trip had reached southern Californian heat and vault toilets. It gave us time to ease into the new way of living.</p>

<div class="box alt">
	<div class="row 50% uniform">
		<div class="6u"><span class="image fit"><%= image_tag "california/trolley.jpg" %></span></div>
		<div class="6u"><span class="image fit"><%= image_tag "california/goldenstate.jpg" %></span></div>
		<span class="image main"><%= image_tag "california/violin.jpg" %></span>
	</div>
</div>

<p>Four years of college (writing papers, reading on the computer, constant emailing, Netflix watching, group chats, etc.) had me ready to ditch my laptop, and head into the woods. We left our laptops behind, and while we did have iPhones with us, there was never service at our campsites. Our phones were mostly used as maps on our long drives, cameras, and iPods. It was amazing. Living simply is totally underrated, and I think everyone who is privileged enough to have a fast-paced life filled with products and choices and technology should have a dose of slow-living every now and then. Camping and traveling teaches you to appreciate the small things in day-to-day life. I learned to enjoy each meal we made, even if it all came out of a can, and even if it was the third day in a row I was eating it. I learned to enjoy slipping into my sleeping bag for the night. I learned to enjoy sipping on a single beer while playing cards in the scorching heat. I learned to appreciate running water and bathrooms (sinks, toilets and showers? Luxurious!). I learned to slow down, and live each day moment by moment, rather than always preparing for the next thing. I learned to enjoy silence, to enjoy nature, and to enjoy just being.</p>

<div class="box alt">
	<div class="row 50% uniform">
		<div class="6u"><span class="image fit"><%= image_tag "california/mendocino.jpg" %></span></div>
		<div class="6u"><span class="image fit"><%= image_tag "california/campingmeal.jpg" %></span></div>
	</div>
</div>

<p>There is too much to include here, but below are photos and highlights of the places we visited, and some thoughts and musings from along the way.</p>

<p>During our four days in San Francisco, we walked a total of 42.5 miles, and climbed the equivalent of 90 floors. We walked along the piers & Fisherman’s Wharf, attended a free concert at Herba Buena Gardens, went to galleries, walked across the city to Golden Gate Park (but took the bus back), went to de Young Museum, ate fresh sourdough & figs, walked to the Golden Gate Bridge, walked up to and down from Lombard street, and had drinks in Little Italy. We successfully squeezed in a lot into our short visit.</p>

<p>Mendocino was our first stop. We camped for just one night before heading north. While the woods were cool and peaceful, the coast was breathtaking. Before leaving, we quickly drove into town and to the water, where we parked and walked around, breathing in fresh, salty air and admiring the view.</p>

<div class="box alt">
	<div class="row 50% uniform">
		<div class="8u"><span class="image fit"><%= image_tag "california/modoc.jpg" %></span></div>
		<div class="4u"><span class="image fit"><%= image_tag "california/sequoia.jpg" %></span></div>
	</div>
</div>

<p>The Redwood Forest was beautiful. On our two hikes, everywhere you looked, all you could see were redwoods, in every direction. Being in nature has a calming effect on the body, and just a few days into the trip I was already feeling the stress and worry quickly slip away.</p>

<p>After Redwood Forest, we drove north and through Oregon to get to Modoc Forest, which is in northeast California. We stopped for Thai food at one of the only two Thai restaurants in the entire region, and then headed to Blue Lakes campsite in Modoc Forest. We met friendly locals who sold us cheap firewood, we filtered lake water to wash our dirty clothes, drank lots of tea, and read a lot.</p>

<div class="box alt">
	<div class="row 50% uniform">
		<div class="6u"><span class="image fit"><%= image_tag "california/view.jpg" %></span></div>
		<div class="6u"><span class="image fit"><%= image_tag "california/trees.jpg" %></span></div>
	</div>
</div>

<p>Then came the almost ten hours of driving to get all the way south to Sequoia National Forest. We stopped in Sacramento to stock up at Trader Joes (canned beans and vegan chili were staples), and then we headed to Belknap Campsite, where we stayed for four whole nights. The first morning, we woke to a tree falling barely 100 yards from our tent, but it only got better from there. We hiked, visited the tiny town and general store, accidentally got free showers at an RV park, took naps, hiked, visited Dome Rock, and shared a pasta dinner with a fellow camper.</p>

<p>Up until Sequoia National Park, our trip had felt like autumn, sometimes even winter. After Sequoia though, it became full-on summer. We stopped in LA for the weekend to visit friends, and then drove to Joshua Tree. Stepping out of the car, it felt as though I had walked into an oven. With nothing to do and no shade, we got into our empty tent, attempting to nap until the sun went down. Lying there I said out loud, only half-jokingly, “This is where we die...” Minutes later, I got stung by a bee, and the swelling doubled the size of my hand. The next day we ventured into town in search of Benodryl, AC, and cold drinks. After dark was the best time to bet there. The sun went down, turning the jumbo rocks to silhouettes in front of a rosy sky. The sky filled with so many stars it was almost unbelievable. It was slightly cloudy, but we could just make out the Milky Way.</p>

<div class="box alt">
	<div class="row 50% uniform">
		<div class="6u"><span class="image fit"><%= image_tag "california/joshuatree.jpg" %></span></div>
		<div class="6u"><span class="image fit"><%= image_tag "california/tent.jpg" %></span></div>
	</div>
</div>

<p>Next, we visited Antelope Canyon and the Grand Canyon. We last minute reserved a camping spot at an RV park (instead of camping out in the open as previously planned). This was perfect, as we got there on my birthday. My present was getting to swim in a pool and take a shower!</p>

<p>Antelope Canyon was amazing. Though the tour was crowded, it was worth it to be able to spend some time in such a unique landscape. Horseshoe bend was right around the corner, and once we got over the inevitable fear of heights (there’s no way to avoid it here) it was beautiful. A quick but fun hike at the Grand Canyon ended this leg of the trip, where we hiked down a bit to “Ooh Aah Point” for a glimpse of the endless canyon.</p>

<p>Aside from spending time with family friends and experiencing the fast food chain Veggie Grill (it’s a vegan must), Orange County was not too exciting. We mostly enjoyed the beaches and basic amenities (showers, dishwashers…etc), and took a day trip to San Diego. A day spent exploring the farmers market, park, and museums made me wish for more time there.</p>

<p>On the way back to San Jose, to return the car and fly home, we stopped in Big Sur for the last camping excursion. After over a week of lying around Orange County, it was really nice to get back into the woods, and camp one last time. The drive there on US-1 was breathtaking, with lots of twists and turns leading to beautiful views of cliffs and breaking waves. We took it easy, but our one excursion was to the beach down the road. We took a mile-walk out to the beach, getting lost on the way and exploring more of the forest. The overcast sky tricked us into getting sunburned, but we thoroughly enjoyed the secluded beach, cool breeze, and crashing waves.</p>

<div class="box alt">
	<div class="row 50% uniform">
		<div class="6u"><span class="image fit"><%= image_tag "california/horseshoe.jpg" %></span></div>
		<div class="6u"><span class="image fit"><%= image_tag "california/grandcanyon.jpg" %></span></div>
		<span class="image main"><%= image_tag "california/antelope.jpg" %></span>
	</div>
</div>

<p>At first the road trip seemed as though it would never end, but all too soon we were back in San Jose and then flying home. Though I doubt I’ll have the means to take a long trip like this for a while, I look forward to the next time I can explore other cities and beautiful nature, and to all the small adventures in between!</p>

<span class="image main"><%= image_tag "california/plane.jpg" %></span>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
