<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Content -->
								<section>
									<span class="image main"><%= image_tag "eating_to_fight_climate_change/vegan_salad.jpg" %></span>

									<header class="main">
										<h1>Eating to Fight Climate Change</h1>
                                    </header>
                                    
                                    <h2>The Environmental Benefits of a Plant-based Diet</h2>

									<p>When it comes to the topic of climate change, many people feel helpless. Climate change is currently the biggest threat to humanity, so it isn’t surprising that people believe they do not have enough power to create change. Thankfully, this is not true. Whoever you are, YOU have the power to fight climate change and make a real difference.</p>

                                    <p><i>One of the most impactful actions you can take is to simply change what’s on your plate.</i></p>

									<p>Eating a vegan diet is one of the most impactful ways you can decrease your carbon footprint and fight climate change as an individual person. Even just incorporating more plant-based meals into your diet can have a big difference. It's as simple as that; just eat more fruits and vegetables.</p>

									<blockquote>“A <b>vegan diet is probably the single biggest way to reduce your impact on planet Earth</b>, not just greenhouse gases, but global acidification, eutrophication, land use and water use. It is far bigger than cutting down on your flights or buying an electric car."<br><br> – Joseph Poore, environmental researcher at Oxford University </blockquote>

									<p>A vegan, or plant-based diet, does not include any animal products. The diet consists of fruits, vegetables, grains, legumes, nuts, and seeds (eliminating meat, fish, eggs, and dairy). While this may sound extreme, a plant-based diet can easily be diverse, tasty, nutritious, and satisfying. The ethical and health benefits of a plant-based diet are numerous, but here we will focus only on the environmental benefits.</p>

									<p>When comparing the Standard American Diet (SAD) with a plant-based diet, it becomes pretty clear how inefficient and environmentally destructive the SAD is. In order to produce fruits, vegetables, and grains, land needs to be cleared and reserved in order to grow crops. These crops are then harvested and sold to people to eat. In order to produce meat, eggs, and dairy though, land needs to be cleared and reserved for growing crops (for animal feed) AND for raising and processing the animals. Way more water, land, and energy is required to make this diet possible, at the expense of peoples’ and the planet’s health.</p>

									<p><i>The environmental damage the western world is causing with its diet has only become clearer in the past few decades. People usually choose food based on convenience and taste, not taking into consideration the environmental degradation it is causing. It is now very clear that the animal agriculture industry is causing a lot of damage to the earth—and people are now, more than ever before, taking positive action. By eating a plant-based diet, or even just decreasing the animal products you consume, you are actively avoiding pollution and resource depletion, and lowering your carbon footprint. In a modern world where most things cause environmental harm, an action this effective is monumental.</i></p>

									<h3>Land Use</h3>
									<p>It’s pretty simple; more land is needed to produce crops to feed to animals to make animal products, than is needed to just produce crops. <a href="http://www.cowspiracy.com/facts/">Livestock occupy 45% of the Earth’s land</a>. One third. By eating a plant-based diet, you are making sure that less land is being wasted to feed you, and more land is being used for better reasons, like growing forests and crops and housing people.</p>

									<h3>Green House Gas Emissions (GHG)</h3>
									<p>Animal agriculture is responsible for producing more greenhouse gases than the world’s transportation industry—all the automobiles, trains, ships, and planes combined. That’s a lot, <a href="http://www.cowspiracy.com/facts/">18% of the entire world’s emissions</a>. In addition to carbon dioxide, a huge amount of methane and nitrous oxide is produced by animal agriculture. The animal agriculture industry is the single largest source of methane production, and responsible for <a href="https://www.peta.org/issues/animals-used-for-food/global-warming/">65% of worldwide nitrous-oxide emissions</a>. Methane and nitrous oxide are also much worse than CO2, in regards to their global warming potentials <a href="http://www.cowspiracy.com/facts/">(86 and 296 times worse, respectively)</a>.</p>

									<h3>Species Diversiy</h3>
									<p>When vast amounts of land are cleared in order to raise animals for food, forests and habitats are wiped out. Not only does this the remove the physical trees and plants, but it destroys the habitats and resources for many different species. Some scientists refer to the current geological period as the “anthropocene”, indicating the dominating influence human beings have had on the earth, specifically the rapid rates of species extinction and anthropogenic climate change.</p>

									<h3>Water</h3>
									<p>In the United States alone, animal agriculture uses over <a href="http://www.cowspiracy.com/facts/">50% of the country’s water supply</a>. It uses up a huge amount of drinkable water; water that many people throughout the world are in desperate need of. Though it is true that growing fruits and vegetables requires a lot of water, it is small in comparison to the amount required for meat and other animal products.</p>

                                    <span class="image main"><%= image_tag "eating_to_fight_climate_change/greenhouse.jpg" %></span>

									<p>So, now that your eyes are opened to the environmental damage that animal products cause, and how you can avoid this simply by changing your diet, where do you begin? Start slow & simple!</p>

									<h3>Take it Slow</h3>
									<p>There’s no need to rush into things, make this change sustainably by slowly embracing a plant-based diet and lifestyle. Slowly eliminate animal products from your diet, and each time you do, be sure to add in a new plant-based food or meal that you haven’t tried before. If you mess up, don’t sweat it! It’s a big change to make, so make it a pleasant journey.</p>

									<h3>Educate Yourself</h3>
									<p>With a big lifestyle change, you can be sure you’ll get asked lots of questions by family and friends. Make sure you have some answers. Take the time to learn all about the environmental, ethical, and health benefits of a plant-based diet; this will assure people that you know what you’re doing, and will also fuel your passion to create change.</p>

									<h3>Talk About It</h3>
									<p>Share your knowledge and passion! Share tasty vegan food, interesting facts you learn, and your plant-based experience with others. (It’s never a good idea to shove information and ideas down other people’s throats, so always be respectful). Don’t be afraid to share your experience though, you never know who you might influence!</p>

									<hr>
									<p><b>“If You Care About Climate Change, You Should Stop Eating Meat”</b><br><a href="http://www.wbur.org/cognoscenti/2018/10/19/vegetarian-ipcc-report-rich-barlow">http://www.wbur.org/cognoscenti/2018/10/19/vegetarian-ipcc-report-rich-barlow</a></p>
									<p><b>About Water and Animal Agriculture</b><br><a href="https://www.nytimes.com/2014/03/08/opinion/meat-makes-the-planet-thirsty.html">https://www.nytimes.com/2014/03/08/opinion/meat-makes-the-planet-thirsty.html</a></p>
									<p><b>Facts from the documentary Cowspiracy</b><br><a href="http://www.cowspiracy.com/facts/">http://www.cowspiracy.com/facts/</a></p>
									<p><b>Environmental Guide to Veganism</b><br><a href="http://www.yourdailyvegan.com/environment/">http://www.yourdailyvegan.com/environment/</a></p>

									<%= render "posts/likes" %>

								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
