<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>First Post</h1>
									</header>

									<span class="image main"><%= image_tag "intro/pose_long.jpg" %></span>

									<p>My name is Laura Broffman. I am 21 years old, and am currently finishing up my last [ahh!] semester of undergrad at Brandeis University. I’m a double major in Environmental Studies and Sociology, and after graduation I’m hoping to get a job somewhere out there in the environmental field, fighting climate change and making a difference. I know, cheesy, but true.</p>

									<p><span class="image right"><%= image_tag "intro/myself.jpg" %></span>I created this blog because as a passionate environmentalist and wannabe change-maker, I didn’t really feel like I was doing enough to make a difference around me.  I was always just talking and thinking about possibilities, but doing nothing —I wanted to actually do something. I feel passionate about so many different things, and I wanted a way to share my beliefs and experiences with others. My hope is that what I share in this space can help inspire people to lead a more eco-friendly, mindful, and healthful lifestyle, while truly appreciating the world around them.</p>

									<p>I grew up in New York in a down-to-earth, loving and weird family (but all families are weird?). My parents surrounded my twin brother and me with creativity, nature, and knowledge throughout our childhood, and I credit their upbringing to the passion I have today for the environment. Composting food scraps, ziplock bags that had been reused countless times, reusable shopping bags, cloth napkins and rags, and not wasting anything were all common growing up. These things used to actually annoy me for some reason, but a couple of years ago I realized they were truly important, and had shaped me into an environmentalist.</p>

									<p>Two and half years ago, I made one big environmental change in my life: going plant-based. Since then, I have eaten a mostly plant-based diet, and my food journey has really inspired me and changed how I view the world. It has been eye opening to learn about the benefits of a plant-based diet: how sustainable and environmentally friendly it is, how healthful it is for the human body, and how it saves countless animal lives lost in the meat and dairy industry. I am far from perfect, but this is a journey I want to continue taking and sharing with those around me.</p>

									<p><span class="image left"><%= image_tag "intro/view.jpg" %></span>Another impactful change happened my fall semester of 2016, when I had the amazing opportunity to study abroad in Atenas, Costa Rica, with the School for Field Studies. This was around the time in college when I was starting to become more passionate about the environment, and when I began thinking that it was what I wanted to do for the rest of my life. The semester abroad confirmed all those feelings, and really changed how I view the world and want to live my life. While in Costa Rica, I lived a low-impact and simple lifestyle, traveled through amazing ecosystems, and learned so much about sustainability. My time there made me realize that this was something I wanted to continue doing, and that I needed to start making changes within myself and the world around me.</p>

									<p>This blog serves as a platform for all the ideas and experiences I feel too important to keep to myself. I hope to be able to communicate to you the importance of caring for the environment and world around us. This blog is also a way to help hold myself accountable for my beliefs: my goal is to continue to align my beliefs with my everyday actions in order to create a better world.</p>

									<%= render "posts/likes" %>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
