<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Content -->
								<section>
									<span class="image main"><%= image_tag "new_home/me.jpg" %></span>

									<header class="main">
										<h1>Quick Update: Finding a New Home</h1>
									</header>

									<p>After four years of classes, dorms, dining halls, semester abroad, adventures and fun, I graduated from college on Sunday, May 13, 2018. The next few days were spent shoving almost everything my boyfriend and I owned into a storage unit, and that Thursday, after putting the last few belongings into my Subaru, we drove to my parents’ house in New York. Done. With. School. Forever. (Or until I decide to get a Masters…)</p>

									<p>Less than a week later, on May 23rd, we headed to California on a month long adventure. We stayed on friends’ couches, in hostels, and camped a LOT, traveling all around the state and into Arizona. After another few days in New York, we were off to Mexico, staying at my boyfriends’ parents’ house and taking a short vacation to the coast. In early August, I also spent a week in Shanghai, China, for a short but fun fencing team trip. The summer consisted of planes, cars, and never sleeping in the same place for more than a few nights. It was amazing. It was the first time I didn’t have another year of school looming after a break, and it was thrilling to be out in the world and actually enjoying every second.</p>

									<p>At the beginning of August, we moved to Boston! I am finally in one place, and to be honest it feels kind of weird…but also great. I have not stayed in one place for more than a week at a time since May, until now. It was a fun, exciting, nomadic summer, but I can now officially call one place home.</p>

									<p>It’s funny how even when life changes so much, everything new always becomes familiar with time. Living in a dorm and going to classes became the norm for a while, then camping and driving every day, taking lots of trips, and the in-between periods of living with my parents. And now, living in the same place and working every day is the norm once more. It’s new, it’s exciting, it’s hard, but it’s also now familiar.</p>

									<p>By now, we have all the living necessities, plus lots of old stuff that hasn’t quite found a home yet. My travels make me cherish the mundane, and what I saw and experienced during my trips makes me thankful for everything I have. Sometimes you just have to get out of your bubble to find a new perspective on life.</p>

									<%= render "posts/likes" %>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
