<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Content -->
								<section>
									<span class="image main"><%= image_tag "suicide_prevention/cover.jpg" %></span>

									<header class="main">
										<h2>09.18.2018</h2>
										<h1>Suicide Prevention Month</h1>
									</header>

									<p>September is National Suicide Prevention Month. Though we're already halfway through the month, it's still an important topic to bring attention to, regardless of the time of year. The topic of suicide is a difficult one to think about and discuss, but I hope by the end of this post you will feel a little more comfortable around the subject. I also hope that this post helps you to realize the positive change you can have in the lives of those around you.</p>

                  <h3>Suicide can be preventable and <a href="https://afsp.org/harrispoll/" target="_blank">94% of Americans</a> believe so.</h3>

									<p>Through public awareness and education, we can reduce suicide rates across the country and save lives. The public needs to have a better understanding of this public health issue, and those struggling need to have the right networks and resources to receive the help they need and deserve.</p>

									<p>Even today, in a world filled with people talking about mental health and self-care, there is still a huge stigma around the subject of suicide and mental illness—this needs to change. Knowing the facts, being able to talk about the subject, and feeling comfortable reaching out can all make a big difference when trying to help or get help.</p>

									<p><b style="font-size: 120%;">Know the Facts</b><br>Suicide is the 10th leading cause of death in the United States, with <a href="https://afsp.org/about-suicide/suicide-statistics/" target="_blank">44,965 Americans</a> dying by suicide each year. For every suicide, there are <a href="https://afsp.org/about-suicide/suicide-statistics/" target="_blank">25 attempts</a>. Across the country, the rate of suicide has steadily <a href="https://www.nytimes.com/2018/06/07/health/suicide-rates-kate-spade.html" target="_blank">risen from 1999 to 2016</a>. Shockingly, only 50% of all Americans who experience major depression <a href="https://save.org/about-suicide/suicide-facts/" target="_blank">receive treatment</a>. These are staggering statistics, and are just a small glimpse at how intricate this problem really is. There is no quick solution, but there is a huge opportunity to decrease these statistics and create positive change in our society.</p>

									<p><b style="font-size: 120%;">Talk About It</b><br>Unfortunately, we still live in a world where it feels weird to discuss mental illness and suicide. It feels weird to bring it up in conversation, both for those who have and have not been affected by it. This needs to change. There is a stigma surrounding the subject of mental illness, and the main way to get rid of this stigma is to simply talk about it. If you read an article online, bring it up with co-workers for a friendly, informative conversation. If you or someone close to you is dealing with mental illness, open up to a supportive family member or friend. Don’t shy away from the conversation. And if someone else brings up the topic, welcome their input.</p>

                  <p><b style="font-size: 120%;">Reach Out</b><br>If you are struggling with mental illness or thoughts of suicide, it is important to reach out. Find someone who you trust and will support you, and open up about how you are feeling. Having people around you is an important step to staying safe and getting better. <b><i>For free, confidential, and 24/7 support, please call the National Suicide Prevention Lifeline at 1-800-273-8255.</i></b> If you know someone struggling, don’t be afraid to reach out. Regardless of whether or not they have opened up to someone already, knowing that another person is there for them is incredibly helpful. It is necessary to make connections with people, and let each other know we are here to help, support, and love each other.</p>

                  <hr>

                  <p>The National Suicide Prevention Lifeline has a useful action plan for helping those at risk of suicide. Listed below, these simple steps can help you be supportive to someone who is experiencing mental illness and/or having thoughts of suicide.</p>

                  <h2>Five Step Action Plan to Help Those Who Might Be at Risk</h2>

                  <p><b>1. Ask</b> – Even though there is a taboo around speaking about suicide, research has shown that when people who are thinking about suicide are asked about it, in a caring way, they will feel relief. Research also shows that suicide ideation may be decreased simply by acknowledging and talking about suicide.</p>

                  <p><b>2. Keep Them Safe</b> – If lethal means are made less available or less dangerous, suicide rates by that method (and in general) have been shown to decline.</p>

                  <p><b>3. Be There</b> – People are likely to feel less overwhelmed, depressed, suicidal, and more hopeful after speaking with someone who cares and does not judge. </p>

                  <p><b>4. Help Them Connect</b> – Studies show that when a person has networks of resources and people to provide safety and support can help that person take positive action and feel more hopeful.</p>

                  <p><b>5. Follow Up</b> – Studies show that an important part of suicide prevention is brief intervention as well as supportive and ongoing contact, especially for people who have just been discharged from a hospital or care services.</p>

                  <p><i>If you are having thoughts of suicide, call the National Suicide Prevention Lifeline at 1-800-273-8255. For additional resources, go to <a href="https://suicidepreventionlifeline.org/talk-to-someone-now/" target="_blank">https://suicidepreventionlifeline.org/talk-to-someone-now/</a></i></p>

									<%= render "posts/likes" %>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
