<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Content -->
								<section>
									<span class="image main"><%= image_tag "what_to_do_about_climate_change/climate_march.jpeg" %></span>

									<header class="main">
										<h1>What to Do About Climate Change</h1>
                                    </header>
                                    
									<p>Two weeks ago, the IPCC (Intergovernmental Panel on Climate Change) came out with a report titled “Global Warming of 1.5°C.” In short, the report explains how the global warming we as a species are causing will have much worse effects than we originally thought, and they will come much sooner than we expected. Not good news at all.</p>

                                    <p>Previously, scientists believed that 2°C was a safe limit to set for warming, but it is now clear that even 1.5°C of warming will not allow us to avoid the worst of it. If things were to continue as they were, the atmosphere would warm 1.5°C above pre-industrial levels by 2040, and with that would come mass coral reef die-off, food shortages, and wild fires. It’s a scary scenario.</p>

									<p>The report found that this can be avoided, if the global economy can reduce greenhouse gas emissions by 45% (from 2010 levels) by 2030, and 100% by 2050. That kind of change would require a huge global effort, by international, national, state, and city governments, and also individuals.</p>

									<h3>The Bigger Picture</h3>
									<p>Only <a href="https://www.theguardian.com/sustainable-business/2017/jul/10/100-fossil-fuel-companies-investors-responsible-71-global-emissions-cdp-study-climate-change">100 companies are responsible for 71% of the world’s total greenhouse gas emissions</a>. We need bigger, better global action if we are to truly avoid the worst that climate change has to offer. Things like carbon taxes and renewable energy are the key to stopping further global warming. Proposed carbon taxes could create state revenues to invest in things like renewable energy, as well as create an incentive for using less fossil fuel and more renewable energy in its place. This is a big change though, and most certainly will not happen over night. It will take mass action across the world, on every level, every day.</p>

                                    <h3>What Can I Do?</h3>
									<p>Honestly, the IPCC report makes me feel very pessimistic about the state of the world. My head immediately fills with doubt, wondering how we will ever pull this off. Some things we do will have a much bigger affect than other, smaller actions. But at a time like this, everything you do, no matter how big or how small, can make a difference. We need to fight the despair we feel with action, action that will <a href="https://www.theguardian.com/commentisfree/2018/oct/14/climate-change-taking-action-rebecca-solnit">create change</a>.</p>

                                    <h3>1. Vote</h3>
									<p>This is the most important thing you can do, and it is absolutely free. Find an hour of two, make sure you have an internet connection, and do some research. Find out who is running in your state, and look up their campaigns. Find out who the climate leaders are, the ones who will push for electrifying public transit, incentivizing solar, and support a carbon tax. By voting for those politicians, you are ensuring that people will be fighting for the environment within our government, where it really matters.</p>

									<h3>2. Volunteer to Get Out The Vote</h3>
									<p>Volunteer your time to help get people registered to vote and educated about voting! Whether it’s out in your home city or from the comfort of your couch, you can canvass, phone bank, write letters…etc. to get people ready for the midterm elections. Depending on what state you live in, this can be really, really important (as opposed to just one really).</p>
                                    <p>Go to <a href="www.rockthevote.org/action-center/volunteer/">www.rockthevote.org/action-center/volunteer/</a> to find out how you can help out. Every little bit matters!</p>

									<h3>3. Make Everyday Changes</h3>

									<p>Although the IPCC report has made it clear that we are going to need some serious global and political action to avoid the 1.5°C of warming, it does not mean that your individual actions no longer matter. Regardless of how big this problem is, and maybe even because of it, your everyday actions matter a great deal. You still contribute pollution to the environment, and your actions influence others daily. If everyone believes that they can make a difference with their actions, that’s a lot of positive action, which can collectively create real change. When you change your diet, purchase less products, reuse bottles, or use less energy, you are creating positive and effective change. Check out my blog posts on the <a href="<%= eating_to_fight_climate_change_path %>">environmental benefits of a plant-based diet</a>, and about <a href="<%= zero_waste_101_path %>">15 ways you can live a more low impact life</a>.</p>
                                    <span class="image main"><%= image_tag "what_to_do_about_climate_change/windmills.jpeg" %></span>

                                    <blockquote>“Taking action is the best way to live in conditions of crisis and violation, for your spirit and your conscience as well as for society. It’s entirely compatible with grief and horror; you can work to elect climate heroes while being sad.”<br><br>—Rebecca Solnit, writer, historian, & activist</blockquote>

									<%= render "posts/likes" %>

								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
