<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%= render "static_pages/head" %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%= render "static_pages/header" %>

							<!-- Content -->
								<section>
									<span class="image main"><%= image_tag "zero_waste_101/cover.jpg" %></span>

									<header class="main">
										<h1>Zero Waste 101: 15 Ways to Reduce Your Everyday Waste</h1>
									</header>

<p>We live in a consumer society, filled to the brim with products, advertisements, and sales everywhere we look. It is a wasteful society. We are creating, buying, and disposing of unnecessary, single-use, plastic items every single day. Each day, Americans produce over four pounds of garbage, totaling up to over <a target="_blank" href="https://archive.epa.gov/epawaste/nonhaz/municipal/web/html/">250 million pounds of trash</a> nation wide. That’s A LOT. If we want to give this planet a fighting chance, this needs to stop. It only takes a little effort to pause, evaluate your daily habits, and create a new way of living that is better for the planet, and for you!</p>

<h3>1. Reduce</h3>
<p>The consumer society we live in is designed to lure you in and continue buying products, but this only harms the planet. By consciously choosing to reduce your general consumption, you are actively making a positive difference. Whether you decide to buy less magazines, fast food, electronics, or clothing, you are helping to eliminate more waste and pollution from our environment. You as a consumer have power. Every decision to buy, or not to buy, makes a difference.</p>

<h3>2. Reuse</h3>
<p>Reusing items eliminates a huge amount of waste in our daily lives. Finished a jar of pasta sauce? Clean out the jar and use it as a glass, container, or pencil jar. Received a present recently? Save the bag and tissue paper for the next time you need to give a gift. There are so many things that can be used in many different ways, and in the end will save us from wasting materials and money. It only takes a few extra moments to notice that what you need, you may already have.</p>

<h3><span class="image left"><%= image_tag "zero_waste_101/bags.jpg" %></span>3. BYOB—Bring Your Own Bag</h3>
<p>In the United States, <a href="https://conservingnow.com/plastic-bag-consumption-facts/" target="_blank">100 billion plastic shopping bags</a> are used each year. On average, only <a href="https://www.biologicaldiversity.org/programs/population_and_sustainability/sustainability/plastic_bag_facts.html" target="_blank">1% of the bags</a> are recycled. The rest end up in landfills and oceans, polluting the earth and water with chemicals and posing a huge threat to marine life. Thankfully though, it is one of the easiest ways to reduce your waste! Simply buy a few bags at your local grocery store and keep them near your front door. (If you’re forgetful, put a note on your door so you always remember). They are cute, bigger and stronger than plastic bags, and depending on what state you live in, they can even save you from paying an extra tax at the grocery store!
Photo: Bags on hook by apartment door</p>

<h3>4. Stop Using Plastic Produce Bags</h3>
<p>Another easy way to reduce your plastic waste is to use reusable produce bags, avoiding that thin plastic film every time you want to buy some fruit or lettuce. It’s unnecessary to put produce in it’s own bag, especially since all of it will be either washed or peeled before eating. If you really want to bag them though, invest in some cloth or mesh bags. They come in different sizes, are just as lightweight as the plastic, and can easily be washed with your laundry. Keep them with your reusable shopping bags so you never forget!<br/>
Link: <a
href=" https://www.containerstore.com/s/white-reusable-produce-bags/d?productId=10036433&q=produce%20bags">Reusable produce bags</a></p>

<h3>5. Buy in Bulk</h3>
<p>Many stores have bulk food sections, where pantry staples like beans, grains, nuts, and cereals are sold from one big container instead of small plastic packages. There are so many different options, and most are less expensive than buying normal cans and bags of the same product. Get some fabric bags or reuse some jars from home, and fill them up with everything you need. It will help you save plastic packaging from landfill, and help you save money each month.</p>

<span class="image main"><%= image_tag "zero_waste_101/bulk.jpg" %></span>

<h3>6. Buy Second Hand</h3>
<p>A huge amount of energy and resources are used to create products, so buying second hand is an easy way to avoid that waste and stop used products from going to landfill. There are second-hand stores in most cities and towns that sell everything from furniture to clothing, and many resources online that help people sell and buy second hand as well. The clothing industry in particular uses a huge amount of energy, water, and chemicals that pollute our environment. Buying clothing second hand has become more popular over the past decade, and it is now easier than ever to find good quality, fun, and stylish clothing at your local thrift or charity shop. If something is good quality, it doesn’t matter if it isn’t brand new. And what you find at a thrift shop might just be more special than what you could have bought at a store.</p>

<h3>7. Invest</h3>
<p>The consumerist society we live in often influences us into poor buying decisions. Look around your house, and it may be easy to point out some purchases that were a result of a convincing commercial, or something that was a quick fix to a small problem. Next time think before you buy something. Consider if you really need it, and if you do, buy a good quality version. Invest in products that you love and that will last for a long time. It may seem more expensive now, but you will save money when you don’t have to replace something every few years. If used well, money can provide us with great things, so spend it with care.</p>

<h3>8. Eco-friendly Hygiene</h3>
<p>Personal grooming and hygiene is an area where we produce A LOT of waste. Think about all the cotton swabs, face wipes, tampons and toothbrushes we throw out. For many items, there are replacements that are better for our planet. Replace your cotton balls with cloth pads, face wipes with a washcloth, tampons with a menstrual cup, and plastic toothbrushes with bamboo ones. All of these can be found online, but many are also sold in local health food stores.<br/>
Links: <a href="https://packagefreeshop.com/collections/bathroom" target="_blank">Eco-friendly bathroom products</a> | <a href="https://www.amazon.com/Wegreeco-Bamboo-Makeup-Remover-Laundry/dp/B078N4R8LH/ref=sr_1_1_sspa?ie=UTF8&qid=1531853628&sr=8-1-spons&keywords=reusable%2Bcotton%2Bface%2Bpads&th=1" target="_blank">Reusable Cotton Rounds</a></p>

<h3>9. Say No to Straws</h3>
<p>It may be difficult to remember, but refusing a straw when ordering a drink can make a huge difference in the environment. Americans use over <a href="https://www.nps.gov/articles/straw-free.htm" target="_blank">500 million straws every single day</a>. Straws may seem small, but that amount equates to 46,400 school buses filled with straws every. single. year. Straws are often unnecessary and always wasteful. When you order a drink, ask politely for no straw. If you really want one, invest in a stainless steel straw and bring it with you instead!<br/>
Link: <a href="https://packagefreeshop.com/collections/kitchen/products/stainless-steel-straw" target="_blank">Reusable Straw</a></p>

<h3>10. Reusable Water Bottle</h3>
<p>Stop buying plastic water bottles! Fortunately, it is completely convenient to do so in 2018. It’s time to invest in a nice, reusable water bottle. Nalgene, Klean Kanteen, and Hydroflask are all great brands that vary in price and style. (Remember that the price you pay now will be paying for hundreds of bottles of water, so it is totally worth the money). Be sure to fill it up before you leave home, and if you ever need a refill, just stop into a coffee shop and ask them nicely to fill it with tap water. It may take a little extra effort, but it will be worth the money you will save and the plastic pollution you will avoid.</p>

<h3>11. Recycle & Proper Waste Disposal</h3>
<p>Even though recycling is considered the norm, not everyone does it. Make sure you take the time to separate your recyclables from your waste, and if your not sure what exactly you can recycle, just call the recycling and waste department in your town to ask. In addition, make sure you properly dispose of other items; things like medication, chemicals, oil, batteries, and electronics are not supposed to end up in landfill. Many towns and cities provide drop off locations for these products, so that they can be recycled or disposed of safely. Collect these items in one spot, and then take a trip every few months to dispose of them safely.</p>

<span class="image main"><%= image_tag "zero_waste_101/compost.jpg" %></span>

<h3>12. Don’t throw out food!</h3>
<p>Throughout the entire world, <a href="flwprotocol.org/" target="_blank">one third of all the food</a> produced ends up wasted. In the United States, up to 40% of food is wasted, which is the equivalent of <a href="news.blogs.cnn.com/2012/08/22/40-of-u-s-food-wasted-report-says/" target="_blank">165 billion dollars of food</a> each year. Food waste is a huge contributor to greenhouse gas emissions, and greatly contributes to food shortages across the world. By being more conscious of your food consumption and by composting, you can easily reduce your food waste. Buy less food at a time, freeze food before it goes bad, and plan your meals each week. When you still have food scraps leftover, make sure to compost it instead of throwing it out. You can either compost food waste in your own backyard, or you can bring your food waste to compost collection site in your city.</p>

<h3>13. DIY—Food & Crafts</h3>
<p>Most of the waste we produce comes from the things we buy in stores, whether it’s food or cleaning products, many of the products we buy come wrapped in plastic, in plastic containers, or with things that cannot be recycled. Fortunately, many of these products do not need to be bought at the store. It is easy (and fun) to make these things yourself; it will help you waste less, and save money along the way. Next time you’re craving a certain dish, try making your own instead of buying it pre-made at the store. When you run out of cleaning solution, reuse the empty bottle you have and try making your own. DIY options are healthier for you and your home, as they do not have the chemicals and preservatives found in most food and products. Just by browsing online, it is easy to find hundreds of DIY recipes for exactly what you need!</p>

<h3>14. Use Less Energy</h3>
<p>In the U.S. especially, people have become accustomed to drastically controlling the temperature of their homes. Adjusting the way you heat and cool your home can help you save a lot of energy, as well as money on your bill. While it is possible to avoid AC and heat for parts of the year, in certain states it just gets too hot or cold to bear. Try to regulate the temperature of your home by turning down the AC or heat during the day when no one is there, and at night when everyone is asleep. Many AC units have energy saving options, and most thermostats can be programmed for different temperatures at different times. There are smart thermostats on the market that help reduce energy and money based on your personal schedule.<br/>
Link: <a href="https://www.techhive.com/article/3206565/thermostats/best-smart-thermostat.html" target="_blank">Smart Thermostats</a></p>

<h3>15. Eat Plant-based</h3>
<p>24% of global greenhouse gas emissions are from the agriculture industry, so choosing what we put on our plate really <a href="https://www.youtube.com/watch?v=nUnJQWO4YJY" target="_blank">does make a difference</a>. Eating a plant-based diet is one of the most effective ways you can personally combat climate change. Animal agriculture is one of the biggest contributors of greenhouse gases, land use, land and water pollution, and deforestation of the rainforest. Simply by changing your diet (to one that is also healthy for you), you can avoid all the pollution and waste that is created in the environment. Stay tuned for some plant based tips and recipes!</p>

									<%= render "posts/likes" %>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<%= render "static_pages/sidebar" %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
